<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <localRepository>
    </localRepository>
    <profiles>
        <profile>
            <id>ossrh</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <gpg.executable>gpg</gpg.executable>
                <gpg.passphrase>!23qweasD</gpg.passphrase>
            </properties>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>ossrh</activeProfile> <!--别忘了激活配置 -->
    </activeProfiles>
    <servers>
        <server>
            <id>ossrh</id>
            <username>leiyu-sign</username>
            <password>ODkwNDUyMjExOTgzOjrHbzLonTSknxc2ZiknFhULbk2g</password>
        </server>
        <server>
            <id>central</id>
            <username>2PMvGbAh</username>
            <password>iquYWSvRuyK0WjVEraxrMTJHR8rqn/ld6xjIinmDJFio</password>
        </server>
    </servers>
</settings>
